<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="GuideConnection" connectionString="Data Source=.;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewConnection" connectionString="Data Source=ANISINA\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString"
            connectionString="Data Source=ANISINA\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString1"
            connectionString="Data Source=REIN\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString2"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString3"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.АэропортConnectionString"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=Аэропорт;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>