<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="GuideConnection" connectionString="Data Source=.;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="NewConnection" connectionString="Data Source=ANISINA\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString" connectionString="Data Source=ANISINA\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString1" connectionString="Data Source=REIN\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString2" connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.GuideDatabaseConnectionString3" connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=GuideDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ApplicationRun.Properties.Settings.АэропортConnectionString" connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=Аэропорт;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>